html,
body {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}


/*布局*/

.header {
	background: #e7e7e7;
	position: absolute;
	top: 0px;
	height: 60px;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
}

.wrap {
	position: absolute!important;
	position: relative;
	top: 120px;
	bottom: 195px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	height: auto!important;
}

.main {
	height: 100%;
	overflow-y: auto;
}

.footer {
	position: absolute;
	bottom: 70px;
	height: 95px;
	width: 100%;
}


/*end 布局*/

h1 {
	font-size: 25px;
	font-family: "楷体", "楷体_GB2312"
}

.topMenu {
	top: 60px;
	height: 60px;
	position: absolute;
	width: 100%;
}

.bottomMenu {
	bottom: 0px;
	height: 60px;
	position: absolute;
	width: 100%;
}

.imageBar {
	background: #e7e7e7;
	max-width: 720px;
	max-height: 720px;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
}

.image {
	max-width: 710px;
	max-height: 710px;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: block;
	overflow: hidden;
	background: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.imageBar img {
	padding: 0px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.bar1 {
	width: 120px;
}

.bar1 img {
	position: absolute;
	left: 30px;
	top: 25px;
	max-width: 70px;
}

.bar1 .score {
	float: right;
	display: block;
}

.bar2 {}

.bar2 img {
	position: absolute;
	left: 150px;
	width: 100px;
}

.bar3 {}

.bar3 img {
	position: absolute;
	left: 280px;
	top: 25px;
	width: 66px;
}

.auto {
	width: 30px;
	height: 30px;
}

.newImg{width: 100%;height: 100%;position: absolute;background: #000;top: 0;left: 0;}
.newImg .btn{width: 100%;height: 100%;position: absolute;left: 0;background: #abc;}
.newImg .btn .btnImg{width: 80px;position: absolute;right: 10px;bottom: 0;height: auto;}
.newImg .btn .btnImgBk{z-index: 1000;height: 80px;position: absolute;width: 80px;}
.btnUnable{display: none;}
.newImg .btn .bluePerson{width: 200px;position: absolute;right: 0px;height: auto;bottom: 40px;display: none;}
.newImg .btn .bluePerson2{width: 300px;}

.changeImg{width: 120px;height: 120px;position: absolute;right: 20px;border: 1px #ccc solid;top: 50px;display: none;}
.changeImg .map{width: 90%;height: 90%;position: absolute;top: 5%;left: 5%;}
.changeImg .closed{width: 20px;height: 20px;position: absolute;top: -10px;left: -10px;}
.changeImg .flip{width: 20px;height: 20px;position: absolute;top: -10px;right: -10px;}
.changeImg .rotating{width: 20px;height: 20px;position: absolute;bottom: -10px;left: -10px;}
.changeImg .big{width: 20px;height: 20px;position: absolute;bottom: -10px;right: -10px;}
.changeImg .imgBk{width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 100;display: none;}

.inputFoot{position: absolute;bottom: 0;width: 100%;height: 250px;z-index: 100;display: none;overflow: hidden;}
.inputFoot .imgInput{width: 100%;height: 40px;background: #f5f5f7;border: none;float: left;margin: 0;padding: 0;}
.inputFoot .imgInput input{width: 70%;float: left;height: 25px;border: none;margin-left: 10%;margin-top: 8px;padding: 0;}
.inputFoot ul{width: 100%;height: 220px;float: left;background: #453c3b;margin: 0;padding: 0;overflow: auto;}
.inputFoot ul li{width: 17%;height: 70px;float: left;background: #4b4755;border-radius: 10px;margin-left: 2%;list-style: none;margin-top: 10px;overflow: hidden;}
.inputFoot ul li img{width: 90%;height: auto;margin: 5%;float: left;}
